* {
    background-color: #f5f9f0;
}

/* REGISTER MAHASISWA */
.bg-color1 {
    background-color: #1d28a0;
    border: none;
    color: white;
}

.bg-color2 {
    background-color: #1d28a0;
    color: white;
}

.bg-hover1:hover {
  background-color: white;
  font-weight: bold;
  color: #1d28a0;
  border: 1px solid #1d28a0;
  transition: all 0.1s ease-in-out;
}

/* FOR LOGIN AND REGISTER */

.grad-color0 {
  position: relative;
  background-image: url('../assets/bg/landing-bg.png');
  background-size: cover;
  background-position: center;
}

.grad-color1 {
  position: relative;
  background-image: url('../assets/bg/mhs.png');
  background-size: cover;
  background-position: center;
}

.grad-color2 {
  position: relative;
  background-image: url('../assets/bg/tendik.png');
  background-size: cover;
  background-position: center;
}

.grad-color0::before,
.grad-color1::before,
.grad-color2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.grad-color0 > *,
.grad-color1 > *,
.grad-color2 > * {
  position: relative;
  z-index: 2; 
}

.text-justify {
  text-align: justify;
}